.text-center {
  text-align: center;
}

.text-red {
  color: $red-600;
}

.text-green {
  color: $green-400;
}

.text-blue {
  color: $blue-400;
}

.padding-all-m {
  padding: 1rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.5rem;
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-column div {
  margin-bottom: 0.5rem;
}
