/* This file handle customizing how the leaflet popup looks */
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: rgba(59, 59, 59, 0.95);
}

.leaflet-popup-content {
  margin: 0.25rem;
  color: $white-text;
  text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.5);
}

.leaflet-popup-content h2 {
  font-size: 1.25rem;
  text-align: center;
}

.leaflet-popup-content ul {
  padding: 0 0 0 0.5rem;
  list-style-type: none;
}

.leaflet-popup-close-button {
  display: none;
}
