.panel {
  background: $panel-background;
  border: $panel-border;
  margin: 0 0.5rem 1rem;
  padding: 0.5rem 0 0;
}

.panel__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 5rem;
  padding: 0 0.5rem;
}

.moreInfoPanel {
  display: flex;
}

.moreInfoPanel .clickThroughPanel {
  flex: 0 0 50%;
}
